$primary-color: #19aeae;
$secondary-color: #F09A2A ;
$main-typeface: 'Oswald', Arial, sans-serif;
$secondary-typeface: 'Roboto', Georgia, serif;

$topbar-bg-color: $primary-color;
$topbar-bg: $topbar-bg-color $primary-color;

header {
  background-color: $primary-color;

  .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .has-form{
    background-color: $primary-color;
  }

  .top-bar, .contain-to-grid{
    background-color: $topbar-bg-color;

    li, a{
      background-color: $primary-color;
    }
  }
  .top-bar .button, .top-bar button {
    background-color: $secondary-color;

  }
}

#first-cta {
  background-image: url('../images/background-pic.jpg');
  background-position: center;
}

#open-road-pic {
  padding-top: 300px;
  h1 {
    font-size: 30px;
    font-family: $main-typeface;
    color: #000000;
    border-bottom: 4px solid #000000;
    padding: 10px;
  }
  p {
    font-size: 18px;
    font-family: $secondary-typeface;
    color: #000000;
    margin-bottom: -2px;
  }
}

#signup-button {
  top: 2px;
  background-color: $secondary-color;
  font-family: $main-typeface;
}

#quote {
  padding-top: 50px;
  p {
    font-size: 18px;
    font-family: $secondary-typeface;
    text-align: center;
    color: $primary-color;
  }
  h3 {
    font-size: 12px;
    font-family: $secondary-typeface;
    text-align: center; 
  }
}

#quote-mark-left {
  text-align: right;
}

#page-break{
  text-align: center;
  margin: 75px 0 75px 0;
  h1{
    color: $secondary-color;
    font-family: $main-typeface;
  }
}

#featured-cause {
  background-image: url('../images/feature-background.png');
  background-position: center;
  text-align: center;
  h1{
    color: $secondary-color;
  }
  p{
    color: #000000;
  }
  #donate-button {
    background-color: $secondary-color;
    font-family: $main-typeface;
  }
}

#slideshow-main {
  margin-top: 50px;
}

#what-we-do {
  text-align: center;
  font-family: $secondary-typeface;
  margin-bottom: 50px;
  h1{
    color: $secondary-color;
    font-family: $primary-color;
  }
  #building {
    padding-bottom: 5px;
  }
}

footer {
  display: inline-block;
  width: 100%;
  background-color: $primary-color;
  padding-top: 15px;
  p {
    text-align: right;
    color: #ffffff;
  }
}

#signUpModal {
  h1 {
    text-align: center;
    font-family: $main-typeface;
    color: $primary-color;
  }
  #confirm-signup {
  text-align: center;
  }
  #confirm-signup-button {
  text-align: center;
  background-color: $secondary-color;
  font-family: $main-typeface;
  }
}

#signInModal {
  h1 {
    text-align: center;
    font-family: $main-typeface;
    color: $primary-color;
  }
  #signin {
    text-align: center;
  }
  #signin-button {
    text-align: center;
    background-color: $secondary-color;
    font-family: $main-typeface;
  }
}


#paymentModal {
  h1 {
    text-align: center;
    font-family: $main-typeface;
    color: $primary-color;
  }
  #confirm-payment {
    text-align: center;
  }
  #confirm-payment-button {
    text-align: center;
    background-color: $secondary-color;
    font-family: $main-typeface;
  }
}

#title {
  text-align: center;
  h1 {
    color: $secondary-color;
  }
}

#browse {
  text-align: center;
  padding-top: 40px;
  h1 {
    font-family: $main-typeface;
    font-size: 20px;
  }
  h2 {
    font-family: $main-typeface;
    font-size: 25px;
  }
  h3 {
    font-family: $secondary-typeface;
    color: $primary-color;
    font-size: 18px;
  }
  p {
    font-family: $secondary-typeface;
    color: $primary-color;
    text-align: left;

  }
  #browse-cause-info {
    margin-top: 45px;
  }
}

#create-cause-form {
  padding-left: 150px;
  #description-left .textarea {
    height: 150px;
  }
  textarea {
  min-height: 150px;
  }
}

#create-cause-button {
    text-align: center;
    background-color: $secondary-color;
    font-family: $main-typeface;
}

.prefix {
  width: 90%;
  margin-left: 8px;
}




#browse-background-pic {
  button {
    padding: 6px 30px;
    background-color: $primary-color;
    font-family: $main-typeface;
  }
}

#create-profile {
  aside {
    padding-left: 175px;
  }
  button {
    padding: 6px 15px;
    background-color: $primary-color;
    font-family: $main-typeface;
  }
  #label {
    font-family: $secondary-typeface;
    font-weight: bold;
  }
  .checkbox {
    padding-top: 5px;
  }
  #user-info {
    h2 {
      font-family: $secondary-typeface;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
    }
    textarea {
      min-height: 250px;
    }
  }
} 

#view-profile {
  aside {
    padding-left: 175px;
  }
  h2 {
    font-family: $main-typeface;
    font-size: 14px;
    margin-top: 9px;
  }
  button {
    padding: 6px 15px;
    background-color: $primary-color;
    font-family: $main-typeface;
  }
  #label {
    font-family: $secondary-typeface;
    font-weight: bold;
  }
  #user-info {
    h2 {
      font-family: $secondary-typeface;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
    }
    textarea {
      min-height: 250px;
    }
  }
} 

#view-cause-slideshow {
  margin-top: 100px;
  margin-bottom: 100px;
  background-image: url('../images/feature-background.png');
  #slideshow-view{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

#view-information {
  #social-media {
    margin-left: -15px;
    padding-bottom: 20px;
  }
  aside {
    text-align: center;
    font-family: $main-typeface;
    button {
      background-color: $secondary-color;
      margin-left: 20px;
    }
    h2 {
      margin-left: 20px;
    }
    #comments {
      p {
        font-family: $secondary-typeface;
        font-style: italic;
        margin-left: 20px;
      }
    }
  }

}